<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beetangle Player</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
</head>
<body>
    <header class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <a class="logo pull-left" href="{{ url_for('index') }}"><img alt="Beetangle Player" src="/static/img/logo.png" ></a>

                {% if current_user.is_authenticated() %}
                    <p  class="navbar-text pull-right"><a href="{{ url_for('logout') }}" class="btn btn-custom btn-noicon btn-grey">Logout</a></p>
                    <p class="navbar-text divider pull-right">
                        Logged as admin | <a href="/settings">Settings</a>
                    </p>
                {% endif %}
	        </div>
	    </div>
	</header>

	<article class="container content">
    	{% block content %}{% endblock %}
    </article>
</body>
<footer>
    &copy; 2014 Paninaro Digital s.r.o. - Beetangle.com All rights reserved.
</footer>
{% block scripts %}{% endblock %}
</html>