{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Change password</h2>

            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form action="{{ url_for('change_password') }}" method="post" class="well">
                <div class="form-group">
                    <label for="password">Current password:</label>
                    <input type="password" class="form-control" name="password" id="password" autofocus="on">
                </div>
                <div class="form-group">
                    <label for="password">New password:</label>
                    <input type="password" class="form-control" name="new_password1" id="password">
                </div>
                <div class="form-group">
                    <label for="password">New password, again:</label>
                    <input type="password" class="form-control" name="new_password2" id="password">
                </div>
                <input type="submit" class="btn btn-primary" value="Change password">
            </form>
        </div>
    </div>
{% endblock %}