{% extends "base.html" %}

{% block content %}
	<h2>Enter your access token</h2>

    <p>You can find it in <a href="{{ BEETANGLE_ROOT }}/admin/device/" target="_blank">Beetangle Admin &gt; Device</a> section.</p>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form name="token" action="set_token" method="post">
        <div class="form-group">
		    <label for="access_token">Access token:</label>
            <input type="text" class="form-control" name="access_token" id="access_token" autocomplete="off" autofocus="on" value="{{ access_token|default('', true) }}">
        </div>
		<input type="submit" class="btn btn-primary" value="Continue &raquo;">
	</form>
{% endblock %}