{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form action="{{ url_for('login') }}" method="post" class="well">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" autofocus="on">
                </div>
                <input type="submit" class="btn btn-primary" value="Login &raquo;">
            </form>
        </div>
    </div>
{% endblock %}