{% extends "base.html" %}

{% block content %}
    <ul class="pager">
        <li class="previous"><a href="{{ url_for('index') }}">&larr; Back</a></li>
    </ul>

    <textarea id="logs" class="form-control" rows="20">{{ log_dump }}</textarea>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function scrollToBottom(e) {
            e.scrollTop = e.scrollHeight;
        }

        scrollToBottom(document.getElementById('logs'));
    </script>
{% endblock %}