{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Settings</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form action="{{ url_for('settings') }}" method="post" class="well">
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" id="password" value="no real password here" disabled="disabled">
                    <span class="help-block"><a href="{{ url_for('change_password') }}">Change password</a></span>
                </div>

                <div class="form-group">
                    <label for="password">Audio output:</label>
                    <select name="audio" id="audio" class="form-control">
                        <option {% if audio == 'local' %}selected="selected"{% endif %} value="local">Analog</option>
                        <option {% if audio == 'hdmi' %}selected="selected"{% endif %} value="hdmi">HDMI</option>
                    </select>
                </div>

                <input type="submit" class="btn btn-primary" value="Save settings">
            </form>
        </div>
    </div>
{% endblock %}